# [←](README.md) | Changelog

{{- range .Changelogs }}
## {{ .Date.Format "2006-01-02 15:04" }}
{{- range .Changes }}
- **{{ .Type }}** {{ .Category }}: {{ .Details }}
{{- if .Diff }}
```json
{{ .Diff }}
```
{{- end }}
{{- end }}

{{- end }}
